@import url('palette.css');
@import url('fonts.css');

* {
  color: var(--foreground);
}

.main {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

h1:not(.title) {
  font-size: 1.2rem;
  padding-left: 1.3em;
  margin-bottom: -0.4em;
  border-bottom: none;
}

h2:not(.title) {
  font-size: 1.1rem;
  padding-left: 0.7em;
  margin-bottom: -0.4em;
  border-bottom: none;
}

h3:not(.title) {
  font-size: 1rem;
  padding-left: 1.6em;
  margin-bottom: -0.4em;
  border-bottom: none;
}

nav {
  font-family: 'Verdana';
  background-color: var(--blue);
  text-align: center;
  padding: 0.6em;
}

nav a {
  font-family: 'Verdana';
  color: var(--background-storm);
  text-decoration: underline;
}

nav a:hover {
  font-family: 'Verdana';
  font-style: bold;
  color: var(--comments);
  transition: color 0.2s ease-in-out;
}

.separator {
  font-family: 'Verdana';
  margin-top: 30px;
  border-bottom: 1px solid var(--blue);
}

.title {
  font-family: 'Verdana';
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.6em;
}

body {
  font-family: 'Verdana';
  background-color: var(--background-storm);
  flex-direction: column; /* Flex is structured around columns */
  display: flex; /* The wrapping is column-wise */
  align-items: center; /* Align Items horizontally align, but always favour flex (which in this case is horizontally) */
  justify-content: center; /* scales horizontally */
  scrollbar-gutter: stable;
}

p {
  text-align: left;
  font-size: 1.1rem;
  margin-top: 0.2em;
  padding-bottom: 1em;
}

p:has(+ ul) {
  border-bottom: none;
}

ul {
  margin-top: -2em;
}

ul > * {
  margin-left: 1.8em;
}

li {
  margin-top: -1em;
}

li:first-child {
  margin-top: 0.2em;
}

li > * {
  border-bottom: none;
}

li::marker {
  content: "-> ";
  font-family: 'Lilex';
  color: var(--magenta);
}

pre {
  /* border-collapse: collapse; */
  margin-top: 1em;
  padding-bottom: 1em;
}

@media(max-width: 799px) {
  #box {
    margin-top: 2em;
    border: 1px solid var(--blue);
    max-width: fit-content(10em);
    margin: 0 auto;
  }
}

@media(min-width: 800px) {
  #box {
    margin-top: 2em;
    border: 1px solid var(--blue);
    max-width: 50%;
    margin: 0 auto;
  }
}

img {
  max-height: auto;
  max-width: 100%;
}

.dotted-sep {
  border-bottom: 1px dotted var(--blue);
}

.subpairs > * {
  padding: 1em;
}

.post-link {
  padding: 0.2em;
}

.footer {
  border-top: 1px dotted var(--blue);
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2em;
}

.blog-entry {
  margin-top: 1.6em;
  margin-left: 1em;
}

.blog-info {
  font-size: 0.7rem;
  font-style: italic;
}

pre > code {
  max-width: 100%;
  text-wrap: wrap;
  display: inline-block;
  font-family: 'Lilex', monospace;
}

code {
  font-family: 'Lilex', monospace;
  font-size: 0.9rem;
}

code .comment {
  color: var(--comments);
}

