<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title id="title"><super/></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/zig.css">
    <link rel="stylesheet" type="text/css" href="/rust.css">
    <link rel="stylesheet" type="text/css" href="/nasm.css">
  </head>
  <body id="main">
    <div id="box">
      <nav id="menu">
        <a href="/">Home</a>
        &nbsp;&nbsp;
        <a href="/blog">Blog</a>
        &nbsp;&nbsp;
        <a href="https://github.com/SoraTenshi">Github</a>
      </nav>
    <super/>
    </div>
  </body>
</html>
