@import url('palette.css');
@import url('fonts.css');

code.nasm {
  text-align: left;
}

code.nasm .function {
  color: var(--blue);
}

code.nasm .constant.builtin {
  color: var(--aqua);
}

code.nasm .constant.numeric {
  color: var(--constants);
}

