@import url('palette.css');
@import url('fonts.css');

* {
  color: var(--foreground);
  font-feature-settings: 'zero' 'cv01' 'cv02' 'cv05' 'cv08' 'cv10';
}

body {
  background-color: var(--background-storm);
  flex-direction: column; /* Flex is structured around columns */
  display: flex; /* The wrapping is column-wise */
  align-items: center; /* Align Items horizontally align, but always favour flex (which in this case is horizontally) */
  justify-content: center; /* scales horizontally */
  padding-bottom: 20px;
  scrollbar-gutter: stable;
}

p {
  text-align: left;
  font-size: 1.1rem;
  border-bottom: 1px dotted var(--blue);
}

pre {
  border-collapse: collapse;
  border-bottom: 1px dotted var(--blue);
  margin-top: 10px;
  padding-bottom: 10px;
}

pre:last-child {
  border-bottom: none;
}

#box {
  border: 1px solid var(--blue);
  padding: 1em;
}

code .comment {
  color: var(--comments);
}

