@import url('palette.css');
@import url('fonts.css');

* {
  color: var(--foreground);
  font-feature-settings: 'zero' 'cv01' 'cv02' 'cv05' 'cv08' 'cv10';
}

body {
  background-color: var(--background-storm);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

code .comment {
  color: var(--comments);
}

code.rust {
  font-family: 'LilexMono';
  font-feature-settings: 'zero';
}
