@import url('palette.css');
@import url('fonts.css');

* {
  color: var(--foreground);
  font-feature-settings: 'zero' 'cv01' 'cv02' 'cv05' 'cv08' 'cv10';
}

nav {
  font-size: 1.8rem;
  text-align: center;
  border: 4px solid var(--blue);
}

nav a {
  text-decoration: underline;
}

nav a:hover {
  color: var(--blue);
}

.separator {
  margin-top: 30px;
  border-bottom: 2px solid var(--blue);
}

.centered {
  text-align: center;
  /* border-bottom: 1px dotted var(--blue); */
  padding-top: 0.2em;
  padding-bottom: 0.4em;
}

body {
  background-color: var(--background-storm);
  flex-direction: column; /* Flex is structured around columns */
  display: flex; /* The wrapping is column-wise */
  align-items: center; /* Align Items horizontally align, but always favour flex (which in this case is horizontally) */
  justify-content: center; /* scales horizontally */
  padding-bottom: 20px;
  scrollbar-gutter: stable;
}

p {
  text-align: left;
  font-size: 1.1rem;
  border-bottom: 1px dotted var(--blue);
  margin-top: 0.2em;
  padding-bottom: 1em;
}

p:last-child {
  border-bottom: none;
}

pre {
  border-collapse: collapse;
  margin-top: 1em;
  padding-bottom: 1em;
}

pre:last-child {
  border-bottom: none;
}

#box {
  margin-top: 2em;
  border: 1px solid var(--blue);
  min-width: 50em;
}

.subpairs > * {
  padding: 1em;
  border-bottom: 1px dotted var(--blue);
}

code .comment {
  color: var(--comments);
}

